<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>CRITICAL ERROR - BSOD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=VT323');

        body,
        h1,
        h2,
        h3,
        h4,
        p,
        a { 
            color: #e0e2f4; 
        }

        body,
        p { 
            font: normal 20px/1.25rem 'VT323', monospace; 
        }

        h1 { 
            font: normal 2.75rem/1.05em 'VT323', monospace; 
        }

        h2 { 
            font: normal 2.25rem/1.25em 'VT323', monospace; 
        }

        h3 { 
            font: lighter 1.5rem/1.25em 'VT323', monospace; 
        }

        h4 { 
            font: lighter 1.125rem/1.2222222em 'VT323', monospace; 
        }

        body { 
            background: #0414a7; 
        }

        .container {
            width: 90%;
            margin: auto;
            max-width: 640px;
        }

        .bsod {
            padding-top: 10%;

            .neg {
                text-align: center;
                color: #0414a7;

                .bg {
                    background: #aaaaaa;
                    padding: 0 15px 2px 13px;
                }
            }

            .title { 
                margin-bottom: 50px; 
            }

            .nav {
                margin-top: 35px;
                text-align: center;

                .link {
                    text-decoration: none;
                    padding: 0 9px 2px 8px;
                    
                    &:hover,
                    &:focus {
                        background: #aaaaaa;
                        color: #0414a7;
                    }
                }
            }
        }
    </style>
</head>
<body>
    <main class="bsod container">
        <h1 class="neg title"><span class="bg">Error - 404</span></h1>
        <p>An error has occurred, to continue:</p>
        <p>* Return to our homepage.<br />
        * Send us an e-mail about this error and try later.</p>
        <nav class="nav">
            <a href="/" class="link"><i class="fa fa-home"></i> home</a>&nbsp;|&nbsp;<a href="https://discord.gg/PXTtxEK7g8" class="link"><i class='fa fa-envelope'></i> discord</a>
        </nav>
    </main>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</body>
</html>
